*{
  box-sizing: border-box;
}
body {
  padding: 20px;
  background-color: #000000;
  color: #00ff51;
}
.light-mode {
  background-color: #aaaaaa;
  color: rgb(255, 0, 299);
  button {
  color:rgb(0, 0, 0);
  border: 5px solid rgb(255, 0, 299);
  padding: 10px;
  width: 100px;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(66, 144, 87));
  box-shadow: 5px 5px 5px 0 rgb(160, 160, 160);
  border-radius: 25px;
}
}
.center {
  width: 940px;
  padding: 20px;
  border: 1px dotted rgb(0, 0, 0);
  margin-left: auto;
  margin-right: auto;
}
.poem {
  text-align: center;
}
footer {
  background-color: #000000;
  padding: 5px;
}
.light-mode footer {
  background-color: #aaaaaa;
}
button {
  color: rgb(255, 255, 255);
  border: 5px solid rgb(21, 255, 0);
  padding: 10px;
  width: 100px;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(66, 144, 87));
  box-shadow: 5px 5px 5px 0 rgb(160, 160, 160);
  border-radius: 25px;
}

